<section class="container">
  <div class="row">
      <div class="col-12 col-md-12 mb-5">
          <div class="row g-4">
              <article class="col-6 col-md-4" *ngFor="let post of arrPosts">
                <div class="card">
                  <img class="card-img-top" [src]="post.imagen" [alt]="post.titulo">
                  <div class="card-body">
                      <h5 class="card-title">{{post.titulo}}</h5>
                      <p>Autor: {{post.autor}}</p>
                      <p>Fecha: {{post.fecha}}</p>
                      <button class="btn btn-primary" [routerLink]="['/post', post.id,]">Saber más</button>
                  </div>
              </div>
              </article>
          </div>
      </div>
  </div>
</section>