<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog de Agencia de Viajes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a class="nav-link" [routerLink]="['/new']" routerLinkActive="active">Nueva entrada</a>
        <a class="nav-link" [routerLink]="['/category/:categoryTitle']" routerLinkActive="active">Filtro categoria</a>
      </div>
    </div>
  </div>
</nav>

<div class="container my-4">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white p-2 fixed-bottom">Copyright © 2023</footer>